* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'LEDLIGHT';
  src: url('../fonts/star.woff2') format('woff2'),
      url('../fonts/star.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'LEDLIGHT';
  src: url('../fonts/LEDLIGHT.woff2') format('woff2'),
      url('../fonts/LEDLIGHT.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */



:root {
  color-scheme: light dark;
  --color-background: light-dark(#ffffff,#16191a);
  --img-border: light-dark(#000000, #ffffff);
  --text-color: light-dark(#000000, #ffffff);
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}


header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main > section:nth-of-type(1) { z-index: 999; }
main > section:nth-of-type(2) { z-index: 2; }
main > section:nth-of-type(3) { z-index: 3; }
main > section:nth-of-type(4) { z-index: 4; }

main {
  position: relative;
  min-height: 100vh;
}

main > section {
  position: absolute;
  inset: 4.5rem 0 0 0;
  overflow: auto;
  display: none;
  background: var(--color-background);
}

main > section.active {
  display: block;
}

.tabs {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem 0;
  background: var(--color-background);
}


.tab:hover {
  opacity: 1;
}

.tab.active {
  opacity: 1;
  background-color: rgb(108, 70, 110);
}


h1, h2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Ledlight";
  font-size: 4em;
}

h1 {
  margin: 0 .8em 0 0;
  padding: 0;
}

p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.gallery {
  display: flex;
  animation-name: --gallerymove;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.gallery img {
  margin: 0.5em;
  display: block;
  width: auto;
  border-radius: 5px;
}

@keyframes --gallerymove {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-600px * 10)); }
}

.headGame {
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
}

.scramble {
  width: clamp(90px, 8vw, 100px);
  cursor: grab;
  user-select: none;
  -webkit-user-drag: element;
  margin-right: 10px;
  position: static;
  
}

.scramble {
  width: 20em;
}

.dropHead {
  position: relative;
  margin-top: 1rem;
  height: 10vh;
}

.placedPart {
  position: absolute;
  transform: none;
  margin-right: 0;
  transform: translate(-50%, -50%);
}

.placedPart img {
  display: block;
}


.films li {
  display: grid;
}


#letterboxd {
  margin-left: 3em;
  margin-right: 3em;
}

.lb-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
}

.lb-card {
  text-decoration: none;
  color: inherit;
  display: grid;
  gap: 1em;
}

.lb-poster {
  aspect-ratio: 2 / 3;
  border-radius: 2px;
  overflow: hidden;
  border: #b8b8b8 solid .5px;
}

.lb-poster img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 200ms ease;
}

.lb-card:hover .lb-poster img, .lb-card:hover  {
  transform: scale(1.05);
}

.lb-title {
  font-size: 0.9rem;
  font-family: cursive;
  line-height: 1.2;
  opacity: 0.9;
}

#studentFilmsList{
  padding: 0;
}

#refresh {
  display: block;
  margin: 2rem auto 0 auto;


}

#refresh, .tab {
  width: 3.2rem;
  height: 3.2rem;
  background: var(--text-color);
  border: none;
  cursor: pointer;
  position: relative;
  clip-path: polygon(
    59% 0%, 
    63% 28%, 
    98% 35%, 
    72% 57%, 
    83% 93%, 
    50% 72%, 
    21% 91%, 
    28% 57%, 
    2% 35%, 
    37% 32%
  );
  transition: transform .2s ease;
}

#refresh:hover, .tab:hover {
  transform: rotate(20deg) scale(1.1);
}


#refresh:active, .tab:active {
  transform: scale(.9);
}



@media (max-width: 30em) {
  .gallery img {
    margin: 0.9em;
    display: block;
    width: auto;
    outline: 1px solid;
    outline-color: var(--img-border);
    outline-offset: 5px;
    border-radius: 2px;
  }

  .gallery img {
    width: 20em;
    outline: .8px solid;
  }

  @keyframes --gallerymove {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-300px * 10)); }
  }


  h1, h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Ledlight";
    font-size: 3em;
  }

  header {
    flex-direction: column;
  }

  #scramble {
    width: 40em;
  }
}
